In [135]:
import numpy as np
import pandas as pd
from scipy.misc import imread
import matplotlib.pyplot as plt
import seaborn as sns

path = "../NetDissect-Lite/dataset/broden1_224/"

In [22]:
index = pd.read_csv(path + "index.csv")
index.head()

,image,split,ih,iw,sh,sw,color,object,part,material,scene,texture
0,opensurfaces/25605.jpg,train,224,224,112,112,opensurfaces/25605_color.png,NaN,NaN,opensurfaces/25605_material.png,NaN,NaN
1,opensurfaces/24183.jpg,train,224,224,112,112,opensurfaces/24183_color.png,NaN,NaN,opensurfaces/24183_material.png,NaN,NaN
2,opensurfaces/72705.jpg,train,224,224,112,112,opensurfaces/72705_color.png,NaN,NaN,opensurfaces/72705_material.png,NaN,NaN
3,opensurfaces/100509.jpg,train,224,224,112,112,opensurfaces/100509_color.png,NaN,NaN,opensurfaces/100509_material.png,NaN,NaN
4,ade20k/ADE_train_00003891.jpg,train,224,224,112,112,ade20k/ADE_train_00003891_color.png,ade20k/ADE_train_00003891_object.png,NaN,NaN,83.0,NaN

In [69]:
def findUnique(path):
    base_path = "../NetDissect-Lite/dataset/broden1_224/images/"
    if (type(path) is not str):
        return np.nan
    else: 
        image = imread(base_path + path)
        return np.unique(image)[1:] # do not include 0

In [81]:
def countUniqueConcepts(concept): 
    new_index = pd.read_csv("../NetDissect-Lite/dataset/broden1_224/index.csv")
    
    # create columns "n_concepts" and concepts
    new_index[concept + "s"] = new_index[concept].apply(lambda x: findUnique(x))# findUnique(x[concept]))
    # new_index["n_" + concept + "s"] = new_index[concept + "s"].apply(lambda x: np.nan if (type(x) is float) else len(x)-1)
    

    return new_index

In [95]:
new_index = countUniqueConcepts("object")

In [120]:
new_index["n_" + concept + "s"] = new_index[concept + "s"].apply(lambda x: 0 if (type(x) is float) else max(0, len(x)-1))
new_index.head(10)

,image,split,ih,iw,sh,sw,color,object,part,material,scene,texture,objects,n_objects
0,opensurfaces/25605.jpg,train,224,224,112,112,opensurfaces/25605_color.png,NaN,NaN,opensurfaces/25605_material.png,NaN,NaN,NaN,0
1,opensurfaces/24183.jpg,train,224,224,112,112,opensurfaces/24183_color.png,NaN,NaN,opensurfaces/24183_material.png,NaN,NaN,NaN,0
2,opensurfaces/72705.jpg,train,224,224,112,112,opensurfaces/72705_color.png,NaN,NaN,opensurfaces/72705_material.png,NaN,NaN,NaN,0
3,opensurfaces/100509.jpg,train,224,224,112,112,opensurfaces/100509_color.png,NaN,NaN,opensurfaces/100509_material.png,NaN,NaN,NaN,0
4,ade20k/ADE_train_00003891.jpg,train,224,224,112,112,ade20k/ADE_train_00003891_color.png,ade20k/ADE_train_00003891_object.png,NaN,NaN,83.0,NaN,"[12, 14, 25, 36, 45, 48, 54, 61, 234]",8
5,opensurfaces/97035.jpg,train,224,224,112,112,opensurfaces/97035_color.png,NaN,NaN,opensurfaces/97035_material.png,NaN,NaN,NaN,0
6,ade20k/ADE_train_00006107.jpg,train,224,224,112,112,ade20k/ADE_train_00006107_color.png,ade20k/ADE_train_00006107_object.png,ade20k/ADE_train_00006107_part_1.png,NaN,301.0,NaN,"[1, 12, 14, 27, 36, 63]",5
7,opensurfaces/20360.jpg,train,224,224,112,112,opensurfaces/20360_color.png,NaN,NaN,opensurfaces/20360_material.png,NaN,NaN,NaN,0
8,opensurfaces/6582.jpg,train,224,224,112,112,opensurfaces/6582_color.png,NaN,NaN,opensurfaces/6582_material.png,NaN,NaN,NaN,0
9,opensurfaces/97767.jpg,train,224,224,112,112,opensurfaces/97767_color.png,NaN,NaN,opensurfaces/97767_material.png,NaN,NaN,NaN,0

In [121]:
new_index.to_csv("../NetDissect-Lite/dataset/broden1_224/" + "new_index_" + concept + ".csv")

In [122]:
index_objects = new_index[["image", "split", "object", "objects", "n_objects"]]
index_objects.describe()

          n_objects
count  63305.000000
mean       4.001785
std        5.297862
min        0.000000
25%        0.000000
50%        1.000000
75%        7.000000
max       39.000000

In [136]:
object_counts = new_index[new_index["n_objects"] > 0]["n_objects"].values
object_counts.sort()
sns.distplot(object_counts);

/Users/philipclaesson/anaconda3/lib/python3.6/site-packages/matplotlib/axes/_axes.py:6510: MatplotlibDeprecationWarning:
The 'normed' kwarg was deprecated in Matplotlib 2.1 and will be removed in 3.1. Use 'density' instead.
  alternative="'density'", removal="3.1")

In [129]:
object_counts

array([ 1,  1,  1, ..., 36, 37, 39])